@font-face {
    font-display: swap;
    font-family: TTLakes;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/TTLakes-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: TTLakes;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/TTLakes-Bold.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: TTLakes;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/TTLakes-Medium.woff) format("woff")
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

:focus {
    outline: 2px solid #3698fb
}

body {
    background-color: #f8f8f8;
    color: #1b1c21;
    font-family: TTLakes, sans-serif;
    margin: 0;
    overflow-anchor: none;
    position: relative;
    scroll-behavior: smooth
}

a {
    color: inherit;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

input,
textarea {
    width: 100%
}

textarea {
    resize: none
}

input::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea::-webkit-input-placeholder {
    color: #7b8a92
}

input:focus,
textarea:focus {
    outline: none
}

.is--hidden {
    display: none !important
}

.visually-hidden {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.btn--reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0
}

.btn:active,
.btn:focus {
    outline: none
}

.error {
    border: 2px solid var(--error-red) !important
}

.container {
    margin: 0;
    padding: 18px 16px
}

@media (min-width:768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px
    }
}

@media (min-width:1120px) {
    .container {
        max-width: 1180px;
        padding-left: 30px;
        padding-right: 30px
    }
}

.section-title {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.2px;
    line-height: 24px;
    text-transform: uppercase
}

.open {
    max-height: 100% !important
}

.disable-scroll {
    overflow: hidden;
    position: relative
}

.header {
    background-color: #fff
}

.header__upper-menu {
    display: flex;
    justify-content: space-between
}

@media (min-width:768px) {
    .brands__wrapper {
        display: grid;
        gap: 16px 24px;
        grid-template-columns: repeat(3, 1fr);
        max-height: 150px
    }
}

@media (min-width:1120px) {
    .brands__wrapper {
        display: grid;
        gap: 16px 32px;
        grid-template-columns: repeat(4, 1fr);
        max-height: 150px
    }
}

.brands__item {
    max-height: 72px;
    max-width: 240px;
}

.brands__item--hp {
    padding: 10px 16px 10px 10px
}

.brands__item-img {
    max-height: 52px;
    object-fit: contain
}

.swiper-wrapper {
    box-sizing: border-box;
    padding-bottom: 28px
}

@media (min-width:768px) {
    .swiper-wrapper {
        padding-bottom: 16px
    }
}

.swiper-slide {
    align-items: center;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 16px
}

.swiper-pagination {
    padding-top: 16px
}

.swiper-pagination-bullet {
    background-color: #ddd;
    height: 12px;
    margin-right: 16px;
    opacity: 1;
    width: 12px
}

.swiper-pagination-bullet:focus {
    outline: none
}

.swiper-pagination-bullet-active {
    background-color: #b5b6bc
}

@media (min-width:768px) {
    .repair__wrapper {
        display: grid;
        gap: 16px 24px;
        grid-template-columns: repeat(3, 1fr);
        max-height: 150px
    }
}

@media (min-width:1440px) {
    .repair__wrapper {
        gap: 16px 32px;
        grid-template-columns: repeat(4, 1fr);
        max-height: 150px
    }
}

.modal__agreement {
    color: #7e7e82;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 19px
}

.read-more {
    background: 7px/10px no-repeat url(../img/arrow.svg);
    border-radius: 6px;
    display: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.2px;
    line-height: 24px;
    padding: 7px 7px 7px 25px;
    transition: filter .24s ease
}

@media (min-width:768px) {
    .read-more {
        display: block
    }

    .read-more:hover {
        background-color: #fff;
        filter: drop-shadow(0 0 1px #00e1ff)
    }

    .read-more:focus {
        outline: none
    }

    .read-more--open {
        background: 7px/10px no-repeat url(../img/top-arrow.svg)
    }
}

.item-btn {
    background-image: url(../img/go.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px
}



